.homepage-header {
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 180px 0px 240px;
	background-color: black;
	color: white;
	text-align: center;
	font:{
		family: 'proxima-nova';
		size: 2.3rem;
		weight: 300;
	}
}

.collage-section-top{
	
}
