@import "../../css/variables";

.homepage-header {
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 180px 0px 240px;
	background-color: black;
	color: white;
	text-align: center;
	//letter-spacing: 2px;
	line-height: 1.32em;
	font:{
		family: "proxima-nova";
		size: 2.7rem;
		weight: 100;
	}
}

.collage-section-top{
	height: 400px;
	width: 100%;
	padding: 40px;
	p{
		line-height: 2em;
		font-size: 1.3rem;
		margin-top: 24px;
	}

}

.collage-section-top__left{
	width: 50%;

}

.collage-section-middle{
	height: 400px;
	background-color: #f0f0f0;
}

.collage-section-header{
	font:{
		size: 1.6rem;

	}
}