@import "../../css/variables";

.homepage-header {
	display: block;
	width: 100%;
	z-index: 9999;
	padding: 180px 0px 240px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 1.32em;
	font:{
		family: "proxima-nova";
		size: 2.7rem;
		weight: 100;
	}
}

.collage-section{
	height: 400px;
	width: 100%;
	p{
		line-height: 1.7em;
		font-size: 1.3rem;
		margin-top: 24px;
	}

}


.collage-header{
	font:{
		size: 1.9rem;
	}
}


.collage-section-details{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 40px 50px;

}

.collage-section-image{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	img{
		vertical-align: top;
		height: 100%;
	}
}

#collage__our-approach{
	height: 400px;
	
}

#collage__about-us{
	width: 100%;
	background-color: #f0f0f0;
}





