

.homepage-header {
	width: 100%;
	height: 550px;
	padding: 140px 0px 230px;
	background-image: url('/coverpic-wisconsin.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.homepage-header-img-gradien{

}

.homepage-header-title{
	color: white;
	text-align: center;
	text-shadow: 3px 5px 20px black;
	line-height: 1.3em;
	font:{
		family: 'Petit Formal Script';
		size: 58px;
		weight: 700;
	}
}

.homepage-header-subtitle{
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	text-shadow: 1px 2px 5px black;
	font:{
		family: 'Lustria';
		size: 1.3rem;
		weight: 400;
	}
}

.prominent-box-background{
	height: 500px;
	width: 100%;
	background-color: #f0f0f0;
	border-top: 1px solid black;
	&.two{
		height: 412px;
	}
}

.prominent-box{
	top: -30px;
	position: relative;
	height: 111.5%;
	width: 68%;
	margin: 0px 16%;
	overflow: auto;
	background-color: white;
}

p{
	line-height: 1.5em;
	font:{
		family: 'proxima-nova';
		weight:.9rem;
		color: black(.6);
	}
}

.prominent-box-half{
	height: 50%;
	display: block;
}

.reservations{
	display: inline-block;
	width: 36%;
	height: 100%;
	text-align: center;	
	padding: 10px 35px;
	vertical-align: top;
}

.prominent-box-title{
	margin-bottom: 20px;
	font:{
		family: 'Petit Formal Script';
		size: 2rem;
	}
}

.prominent-box-description{
	text-align: center;
	margin-bottom: 25px;
}

.contact-us-button{
	padding: 8px 12px;
	background-color: white;
	border: 1px solid black(.2);
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.reservations-image{
	display: inline-block;
	width: 64%;
	height:100%;
	img{
		display: inline-block;
		height: 100%;
		width: 100%;
	}
}

.about-image{
	display: inline-block;
	width: 36%;
	height:100%;
	background-image: url('/fancyplate2.jpg');
	background-position: -58px 2px;
	overflow: hidden;
}

.about{
	display: inline-block;
	vertical-align: top;
	width: 64%;
	height:100%;
	text-align: center;
	padding: 10px 35px;
}

.learn-more{
	font-size: .7rem;
	color: black(.3);
	text-align: right;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.homepage-specialties-image{
	width: 100%;
	height: 540px;
	//background-image: url('/coverphoto4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #f0f0f0;
	border-top: 1px solid white;
}

.specialties-header{
	text-align: center;
	padding-top: 190px;
	font:{
		family: 'Petit Formal Script';
		size: 2.5rem;
	}
}

.specialty-box{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	height: 100%;
	border: 1px solid black;
}

.specialty-box-title{
	text-align: center;
	text-transform: uppercase;
	font:{
		size: 1.4rem;
	}
}





