@import 'variables';
@import 'mixins';

html, body{
	font-family: 'proxima-nova', 'lato', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	line-height: 1;
	overflow: auto;
	overflow-x: hidden;
	color: rgba(0,0,0,.9);
	position: relative;
	font-size: 16px;
}

*{
	box-sizing: border-box;
}



p{
	margin: 0;
}

i{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.no-user-select{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.no-scroll{
	overflow-y: hidden;
}

.link{
	cursor: pointer;
}

textarea{
	display: block;
	width: 90%;
	padding: 10px;
	padding-bottom: 7px;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	line-height: 1.1;
		&:focus{
			outline: none;
		}
}

input, button{
	&:focus{
		outline: none;
	}
}
