
.service-page-header{
	padding: 70px 0px 40px;
	text-align: center;
	font:{
		family: "proxima-nova";
		size: 2.7rem;
		weight: 100;
	}	
}

.services-subtitle{
	text-align: center;
	line-height: 1.7em;
	font-size: 1.3rem;
	
}

.services-container{
	width: 100%;
	margin: 80px auto 0px;
	padding: 40px 40px;
	background-color: #f0f0f0;
}

.service{
	width: 24%;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	p{
		line-height: 1.8em;
		font-size: 1.2rem;
		margin-top: 15px;
	}
}

.icon{
	width: 100%;
	text-align: center;
	font-size: 4rem;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	-moz-text-stroke-width: 1px;
	-moz-text-stroke-color: black;
}

.service-title{
	width: 100%;
	text-align: center;
	padding-top: 20px;
	font:{
		size: 1.6rem;
	}
}


